mixin search(keyword)
    form(id="form-search")
            .input-group
              input.form-control(type="text" name="keyword" placeholder="Nhập từ khoá" class="form-control" value=keyword)
              .input-group-append
                button(class="btn btn-primary" type="submit") Tìm kiếm