extends ../../layouts/default.pug

block main
    .container.my-5
        .row.justify-content-center
            .col-8
                h1(class="text-center") Lấy lại mật khẩu
                form(action="/user/password/forgot", method="POST")
                    div(class="form-group")
                        label(for="email") Email
                        input(
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            required
                        )

                    button(type="submit" class="btn btn-primary mt-3 w-100") Gửi gmail xác nhận
